/*una forma de vincular a la hoja de estilo la fuente de letra->font-family: 'Cloister Black', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/cloister-black');



h1{color:rgb(150,100,0);
   border:5px outset #fff;
   background-color:green;
   text-align:center;
   font-family:"Saiyan Sans",Arial;}

body{background-color:rgba(0,0,100,0.3);
     font-family:"Cloister Black", sans-serif;
      font-weight:bold;}
    
#personajes{color:red;}

#area{padding:0px 0px 0px 12px;
      margin:0px 0px 15px 0px;}

h2{font-size:16pt;}

.Uchiha{font-size:25px;
background-color:white;}